<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - RT - One stop recipe organizer</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
	<link rel="icon" href="~/images/RT_Icon.png">

</head>

<body>
	<header id="navigation">
		<div class="navbar navbar-inverse navbar-fixed-top" role="banner">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

					<a class="navbar-brand" href="~/home/Index"><img src="~/images/logo.png" alt="logo"></a>


					@*@Html.ActionLink("Recipe Trainer ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
				</div>
				<div class="navbar-collapse collapse">
					@Html.Partial("_LoginPartial")


					<ul class="nav navbar-nav navbar-right">

						@*<li>@Html.ActionLink("HOME", "Index", "Home")</li>
						<li>@Html.ActionLink("ABOUT", "About", "Home")</li>
						<li>@Html.ActionLink("CONTACT", "Contact", "Home")</li>*@




						@{
							if (Context.User.Identity.IsAuthenticated)
							{
								<li>@Html.ActionLink("RECIPES", "Index", "Recipes" @*,new {@class= "navbar_link_color"}*@)</li>
								<li>@Html.ActionLink("ADD RECIPE", "Create", "Recipes"@*, new { @class = "scroll" }*@)</li>
								<li>@Html.ActionLink("MY RECIPE COLLECTIONS", "Index", "RecipeCollections"@*, new { @class = "scroll" }*@)</li>
								<li>@Html.ActionLink("CREATE COLLECTION", "Create", "RecipeCollections"@*, new { @class = "scroll" }*@)</li>

							}
						}


						
					</ul>


				</div>
			</div>
		</div>
</header>
	<!------------------------------------------------------------------------------------------------------------------------>

		@*<header id="navigation">
			<div class="navbar navbar-inverse navbar-fixed-top" role="banner">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
						</button>


						<a class="navbar-brand" href="index.html"><h1><img src="images/logo.png" alt="logo"></h1></a>

					</div>

					<div class="collapse navbar-collapse">

						<ul class="nav navbar-nav navbar-right">

							<li class="scroll active"><a href=/Home/Index>Home</a></li>
							<li class="scroll"><a href=/Home/About>About Us</a></li>
							<li class="scroll"><a href=/Recipes/Index>Recipes</a></li>
							<li class="scroll"><a href=/Recipes/Create>Add Recipe</a></li>
							<li class="scroll"><a href="/RecipeCollections/Index">MY RECIPE BOX</a></li>
							<li class="scroll"><a href="#">My Account</a></li>
							<li class="scroll"><a href="#">Sign In</a></li>
							<li class="scroll"><a href="#">Register</a></li>
						</ul>
					</div>
				</div>
			</div><!--/navbar-->
		</header> <!--/#navigation-->*@ 





	@*<br />
	<br />
	<br />*@













	<!------------------------------------------------------------------------------------------------------------------------------>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Recipe Trainer</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
	<script src="~/Scripts/AddAdditionalFormRows.js"></script>
	@*<script src="~/Content/wow.min.js"></script>*@
	@Scripts.Render("~/Content/wow.min.js")


@*FACEBOOK BUTTON SCRIPT*@
	@*<div id="fb-root"></div>
	<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=283697091977861";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>*@

@*FACEBOOK BUTTON SCRIPT ENDS*@

    @RenderSection("scripts", required: false)
</body>
</html>
