@model RT.Models.RecipeViewModel



@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

    @Html.Partial("AddRecipeURL")

	@Html.Partial("AddRecipeCreate")

}

<!-------------------------------------------------------->
@model IEnumerable<RT.Models.Recipe>

@{
	ViewBag.Title = "Index";
}

<h2>Available Recipes</h2>

<p>
	@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-striped">
	<tr>
		<th></th>
		<th>
			@Html.DisplayNameFor(model => model.Title)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Author.AuthorName)
		</th>
		@*<th>
				@Html.DisplayNameFor(Model => Model.UserID)
			</th>*@
		<th>
			@Html.DisplayNameFor(model => model.CookingTime)
		</th>
		<th></th>

	</tr>

	@*<tr>
			<th>
				@Html.DisplayNameFor(model => model.Recipe.Title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Author.AuthorName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Recipe.CookingTime)
			</th>
			<th></th>
		</tr>*@


	@foreach (var item in Model)
	{
		var href = "/Recipes/Details/" + @item.ID + "?Author=" + @item.Author + "&amp;Title=" + @item.Title + "&amp;CookingTime=" + @item.CookingTime + "&amp;AuthorID=" + @item.AuthorID;



		<tr>
			<td>
				@*<a href="/Recipes/Details/2?Author=RT.Models.Author&amp;Title=Cheese%20Slice&amp;CookingTime=10%20minutes%20&amp;AuthorID=6"><img src="~/images/no_image.png" alt="Recipe picture"/></a>*@
				<a href=@href><img src="~/images/no_image.png" alt="Recipe picture" /></a>
			</td>

			<td>
				@Html.DisplayFor(modelItem => item.Title)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Author.AuthorName)
			</td>
			@*<td>
				@Html.ActionLink(@item.Title, "Details", item)
				</td>*@
			<td>
				@Html.DisplayFor(modelItem => item.CookingTime)
			</td>
			<td>
				@*@Html.ActionLink("Edit", "Edit", item) |*@
				@Html.ActionLink("Details", "Details", item) |
				@Html.ActionLink("Delete", "Delete", item)
			</td>
		</tr>





	}

</table>