
@model RT.Models.RecipeViewModel

		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })

		<h4>Add your own recipe</h4>

		<div class="form-group">
			@Html.LabelFor(model => model.Recipe.Title, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Recipe.Title, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Recipe.Title, "", new { @class = "text-danger" })
			</div>
		</div>


		<div class="form-group">
			@Html.LabelFor(model => model.Recipe.CookingTime, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Recipe.CookingTime, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Recipe.CookingTime, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Author.AuthorName, "Author Name", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Author.AuthorName, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Author.AuthorName, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Ingredients.RecipeIngredient1, "Ingredients", htmlAttributes: new { @class = "control-label col-md-2" })

			<div class="col-md-9">
				@Html.EditorFor(model => model.Ingredients.RecipeIngredient1, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Ingredients.RecipeIngredient1, "", new { @class = "text-danger" })

				<div class="input_fields_wrap">
					<br />
					<!---next input form ingredient #2------------------>
					<div class="form-group">

						<div class="col-md-10">

							<input class="form-control text-box single-line" id="Ingredients_RecipeIngredient2" name="Ingredients.RecipeIngredient2" type="text" value="" />
							<span class="field-validation-valid text-danger" data-valmsg-for="Ingredients.RecipeIngredient2" data-valmsg-replace="true"></span>

						</div>

					</div>

					<!---next input form ingredient #3------------------>
					<div class="form-group">

						<div class="col-md-10">

							<input class="form-control text-box single-line" id="Ingredients_RecipeIngredient3" name="Ingredients.RecipeIngredient3" type="text" value="" />
							<span class="field-validation-valid text-danger" data-valmsg-for="Ingredients.RecipeIngredient3" data-valmsg-replace="true"></span>

						</div>

					</div>

					<!---next input form ingredient #4------------------>
					<div class="form-group">

						<div class="col-md-10">

							<input class="form-control text-box single-line" id="Ingredients_RecipeIngredient4" name="Ingredients.RecipeIngredient4" type="text" value="" />
							<span class="field-validation-valid text-danger" data-valmsg-for="Ingredients.RecipeIngredient4" data-valmsg-replace="true"></span>

						</div>

					</div>

					<!---next input form ingredient #5------------------>
					<div class="form-group">

						<div class="col-md-10">

							<input class="form-control text-box single-line" id="Ingredients_RecipeIngredient5" name="Ingredients.RecipeIngredient5" type="text" value="" />
							<span class="field-validation-valid text-danger" data-valmsg-for="Ingredients.RecipeIngredient5" data-valmsg-replace="true"></span>

						</div>

					</div>
					<!------------------------------------>

				</div>

			</div>


			<div class="col-md-1">
				<button class="add_field_button"><span class="glyphicon glyphicon-plus"></span> </button>
			</div>
		</div>





		<div class="form-group">
			@Html.LabelFor(model => model.Directions.RecipeDirection1, "Directions", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-9">
				@Html.EditorFor(model => model.Directions.RecipeDirection1, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Directions.RecipeDirection1, "", new { @class = "text-danger" })

				<div class="direction_input_fields_wrap">
					<br />
					@*---------------direction #2--------------------*@
					<div class="form-group">
						<div class="col-md-10">
							<input class="form-control text-box single-line" id="Directions_RecipeDirection2" name="Directions.RecipeDirection2" type="text" value="" />
							<span class="field-validation-valid text-danger" data-valmsg-for="Directions.RecipeDirection2" data-valmsg-replace="true"></span>
						</div>
					</div>

					@*---------------direction #3--------------------*@
					<div class="form-group">
						<div class="col-md-10">
							<input class="form-control text-box single-line" id="Directions_RecipeDirection3" name="Directions.RecipeDirection3" type="text" value="" />
							<span class="field-validation-valid text-danger" data-valmsg-for="Directions.RecipeDirection3" data-valmsg-replace="true"></span>
						</div>
					</div>

					@*---------------direction #4--------------------*@
					<div class="form-group">
						<div class="col-md-10">
							<input class="form-control text-box single-line" id="Directions_RecipeDirection4" name="Directions.RecipeDirection4" type="text" value="" />
							<span class="field-validation-valid text-danger" data-valmsg-for="Directions.RecipeDirection4" data-valmsg-replace="true"></span>
						</div>
					</div>

					@*---------------direction #5--------------------*@
					<div class="form-group">
						<div class="col-md-10">
							<input class="form-control text-box single-line" id="Directions_RecipeDirection5" name="Directions.RecipeDirection5" type="text" value="" />
							<span class="field-validation-valid text-danger" data-valmsg-for="Directions.RecipeDirection5" data-valmsg-replace="true"></span>
						</div>
					</div>
					@*---------------------------------------------------*@
				</div>
			</div>

			<div class="col-md-1">
				<button class="add_direction_field_button"><span class="glyphicon glyphicon-plus"></span></button>
			</div>
		</div>




		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</div>
	</div>









<div>
	@Html.ActionLink("Back to List", "Index")
</div>



