@model RT.Models.RecipeViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Recipe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Recipe.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recipe.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recipe.Author.AuthorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recipe.Author.AuthorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recipe.CookingTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recipe.CookingTime)
        </dd>

		<hr />


		<div>
			@{
				try
				{

					if (Model.RecipeImage.FileName.Contains("http"))
					{
						<img src=@Model.RecipeImage.FileName width="240" height="184"/>
					}
					else
					{
						<img src="data:image/png;base64,@Convert.ToBase64String(Model.RecipeImage.ImageData,0,Model.RecipeImage.ImageData.Length)" width="240" height="184" />

					}

				}
				catch
				{

					<img src="~/images/no_image.png" />
				}
			}
		</div>





		<hr />
		<!---->

		<dt>
			@Html.DisplayNameFor(model => model.Ingredients.RecipeIngredient1)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Ingredients.RecipeIngredient1)
		</dd>

		<dd>
			@Html.DisplayFor(model => model.Ingredients.RecipeIngredient2)
		</dd>

		<dd>
			@Html.DisplayFor(model => model.Ingredients.RecipeIngredient3)
		</dd>

		<dd>
			@Html.DisplayFor(model => model.Ingredients.RecipeIngredient4)
		</dd>

		<dd>
			@Html.DisplayFor(model => model.Ingredients.RecipeIngredient5)
		</dd>

		<dd>
			@Html.DisplayFor(model => model.Ingredients.RecipeIngredient6)
		</dd>

		<dd>
			@Html.DisplayFor(model => model.Ingredients.RecipeIngredient7)
		</dd>

		<dd>
			@Html.DisplayFor(model => model.Ingredients.RecipeIngredient8)
		</dd>

		<dd>
			@Html.DisplayFor(model => model.Ingredients.RecipeIngredient9)
		</dd>

		<dd>
			@Html.DisplayFor(model => model.Ingredients.RecipeIngredient10)
		</dd>

		<dd>
			@Html.DisplayFor(model => model.Ingredients.RecipeIngredient11)
		</dd>

		<dd>
			@Html.DisplayFor(model => model.Ingredients.RecipeIngredient12)
		</dd>

		<dd>
			@Html.DisplayFor(model => model.Ingredients.RecipeIngredient13)
		</dd>

		<dd>
			@Html.DisplayFor(model => model.Ingredients.RecipeIngredient14)
		</dd>

		<dd>
			@Html.DisplayFor(model => model.Ingredients.RecipeIngredient15)
		</dd>

	<!--DIRECTIONS-->

		<hr />


		<dt>
			@Html.DisplayNameFor(model => model.Directions.RecipeDirection1)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Directions.RecipeDirection1)
		</dd>
		<dd>
			@Html.DisplayFor(model => model.Directions.RecipeDirection2)
		</dd>
		<dd>
			@Html.DisplayFor(model => model.Directions.RecipeDirection3)
		</dd>
		<dd>
			@Html.DisplayFor(model => model.Directions.RecipeDirection4)
		</dd>
		<dd>
			@Html.DisplayFor(model => model.Directions.RecipeDirection5)
		</dd>
		<dd>
			@Html.DisplayFor(model => model.Directions.RecipeDirection6)
		</dd>
		<dd>
			@Html.DisplayFor(model => model.Directions.RecipeDirection7)
		</dd>
		<dd>
			@Html.DisplayFor(model => model.Directions.RecipeDirection8)
		</dd>
		<dd>
			@Html.DisplayFor(model => model.Directions.RecipeDirection9)
		</dd>
		<dd>
			@Html.DisplayFor(model => model.Directions.RecipeDirection10)
		</dd>
		<dd>
			@Html.DisplayFor(model => model.Directions.RecipeDirection11)
		</dd>
		<dd>
			@Html.DisplayFor(model => model.Directions.RecipeDirection12)
		</dd>
		<dd>
			@Html.DisplayFor(model => model.Directions.RecipeDirection13)
		</dd>
		<dd>
			@Html.DisplayFor(model => model.Directions.RecipeDirection14)
		</dd>
		<dd>
			@Html.DisplayFor(model => model.Directions.RecipeDirection15)
		</dd>
    </dl>
</div>










@Html.ActionLink("Add to Collection", "AddToCollection", Model.Recipe,new { @class = "btn btn-primary"})

<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
