@model IEnumerable<RT.Models.RecipeViewModel>

@{
	ViewBag.Title = "Index";
}

<h2>Available Recipes</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-striped">
    <tr>
		<th></th>
		<th>
			@Html.DisplayNameFor(model => model.Recipe.Title)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Author.AuthorName)
		</th>
		@*<th>
			@Html.DisplayNameFor(Model => Model.UserID)
		</th>*@
        <th>
            @Html.DisplayNameFor(model => model.Recipe.CookingTime)
        </th>
		<th></th>
        
    </tr>

	@*<tr>
		<th>
			@Html.DisplayNameFor(model => model.Recipe.Title)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Author.AuthorName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Recipe.CookingTime)
		</th>
		<th></th>
	</tr>*@


@foreach (var item in Model)
	{
		var href = "/Recipes/Details/" + @item.Recipe.ID + "?Author=" + @item.Recipe.Author + "&amp;Title=" + @item.Recipe.Title + "&amp;CookingTime=" + @item.Recipe.CookingTime + "&amp;AuthorID=" + @item.Recipe.AuthorID;



		<tr>
			<td>
				@*<a href="/Recipes/Details/2?Author=RT.Models.Author&amp;Title=Cheese%20Slice&amp;CookingTime=10%20minutes%20&amp;AuthorID=6"><img src="~/images/no_image.png" alt="Recipe picture"/></a>*@
				@*<a href=@href><img src="~/images/no_image.png" alt="Recipe picture" /></a>*@
				@{
				try
				{

					if (item.RecipeImage.FileName.Contains("http"))
					{
						<a href=@href><img src=@item.RecipeImage.FileName width="240" height="184" /></a>
					}
					else
					{
							<a href=@href><img src="data:image/png;base64,@Convert.ToBase64String(item.RecipeImage.ImageData,0,item.RecipeImage.ImageData.Length)" width="240" height="184" /></a>

					}

				}
				catch
				{

						<img src="~/images/no_image.png" />
				}
				}



			</td>

			<td>
				@Html.DisplayFor(modelItem => item.Recipe.Title)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Author.AuthorName)
			</td>
			@*<td>
				@Html.ActionLink(@item.Title, "Details", item)
				</td>*@
			<td>
				@Html.DisplayFor(modelItem => item.Recipe.CookingTime)
			</td>
			<td>
				@*@Html.ActionLink("Edit", "Edit", item) |*@
				@Html.ActionLink("Details", "Details", item.Recipe) |
				@Html.ActionLink("Delete", "Delete", item.Recipe)
			</td>
		</tr>




	
}

</table>


<!--------------------------------------------------------------------------------------------------------------------------->